<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <title>Giphy Sorter</title>
    
    <!--Front end framework is Vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <!--Our mobile responsive framework, as well as default styling:-->
    <!--Using semantic ui - their grid system is a little harder to use than others but I won't need much grid behavior in this-->
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
    <link rel='stylesheet' type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">

    <!--Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    
    <!--Image carousel plugin. No need to reinvent the wheel-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <!--Custom stuff-->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <div id="giphysorter">

            <!--selected items list-->
            <div id="selectedPanel">
                <div class="row">
                    <template v-for="(img, i) in selected">
                        <div class="col-sm-2 col-6">
                            <img :src="img.images[imgHoverVersion].url"
                                 @click="removeFromSelection(img,$event,i)" />
                        </div>
                    </template>
                </div>
            </div>
            
            <!--searchbar section-->
            <div class="ui one column grid">
                <div class="column">
                    <input id="searchbar" v-on:keyup.enter="search" type="text">
                    <button v-if="searchResults.length > 0"
                            @click="clearSearch">Clear Results</button>
                </div>
            </div>

            <!--search results-->
            <div id="resultPanel">
                <div class="row">
                <template v-for="(img, i) in searchResults">
                    <div class="col-sm-3 col-xs-6">
                        <div class="result-container">
                            <img @click="moveHighlight(i)"
                                 @mouseover="toggleHover(img,$event,1)"
                                 @mouseout="toggleHover(img,$event,0)"
                                 :class="[{highlighted: i == highlightedResultIndex}, 'result']"
                                 :src="img.images[imgVersion].url"/>
                        </div>
                    </div>
                </template>
                <p v-if="searchResults.length == 0 && searchCount > 0">No Results</p>
                </div>
            </div>

            
            
        </div>
    </div>
<!--Our custom JS - after DOM has loaded-->
<script src="GiphySorter.js"></script>


</body>
</html>